<p>
    <strong>Title:</strong><%= @book.title %>
</p>
<p>
    <strong>Body:</strong><%= @book.body %>
</p>

<%= link_to "Edit", edit_book_path(@book.id) %>
|
<a class="edit_14660" href="/books">Back</a>